header {
  display: flex;
  justify-content: center; /* Centers the contents horizontally */
  align-items: center;
  padding: .625rem 1.25rem;
  background-color: #000000;
  color: #fff;
  border-radius: .625rem;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Ensures the logo and title are centered within the container */
}