.container {
    background-color: #CCCCCC;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.title {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.box {
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    background-color: rgb(52, 52, 52);
    transition: background-color 0.3s ease-in-out;
}

.highlight {
    background-color: green;
    font-weight: bold;
}

.border {
    border: 2px solid black;
}

.button {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #0056b3;
}