/* index.css */

/* Add a reset to normalize styles across browsers */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  margin: .5rem;
  color: #f0f0f0; /* Light font color */
}

/* Body styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Add a smooth scroll for better UX */
html {
  scroll-behavior: smooth;
}

/* Set the background color to be light gray */
body {
  background-color: #f5f5f5;
}

/* Set the root element to be 100% height to fill the viewport */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #121212; /* Dark background color */
}

/* Set up basic links styling */
a {
  text-decoration: none;
  color: inherit;
}

h1 {
  padding-top: 1rem;
  padding-left: .5rem;
}

h2 {
  padding-top: 1rem;
  padding-left: .5rem;
}

h3 {
  padding-top: 1rem;
  padding-bottom: .5rem;
  padding-left: .5rem;
}

h4 {
  padding-top: 1rem;
  padding-left: .5rem;
}

p, span {
  padding-top: .5rem;
  font-size: 1rem;
  padding: .625rem;
  padding-left: 2rem;
  padding-bottom: .5rem;
}

/* images */
img {
  max-width: 10rem;                                                /* ensures the image scales down to fit the container */
  height: 10rem;                                                   /* maintains aspect ratio */
  box-shadow: 0.625rem 0.625rem 0.0625rem rgba(0, 0, 0, 0.5);   /* shadow*/
}

.underline {
  text-decoration: underline;
}

/* bulleted lists*/
.bullet-list {
  list-style-type: disc; /* Set the bullet style */
  padding-left: 4rem;
}

.bullet-list li {
  margin-bottom: 0.625rem;
  line-height: 1.5;
}

.output {
  color: greenyellow;
}

code {
  margin-top: .5rem;
  background-color: rgba(0, 0, 0, 0.889);
  padding: .625rem;
  border: .625rem solid black;
  border-radius: 0.25rem;
  overflow: auto;
  display: block;
  color: green;
  font-family: monospace;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 3rem;
  box-shadow: 0 0 3.125rem rgba(133, 252, 127, 0.3);
  max-width: 102rem;
}

input[type="text"] {
  width: 100%;
  max-width: 15rem;
  padding: .75rem;
  border: 0.09375rem solid #000000;
  box-shadow: 0.625rem 0.625rem 0.0625rem rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  font-size: 1.2rem;
  color: black;
}

input[type="email"] {
  width: 100%;
  max-width: 15rem;
  padding: .75rem;
  border: 0.09375rem solid #000000;
  box-shadow: 0.625rem 0.625rem 0.0625rem rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  font-size: 1.2rem;
  color: black;
}

.label {
  font-size: 1.25rem;
  font-weight: bold;
  padding-right: 1rem;
}

.error-message {
  color: red;
}
@media (max-width: 1623px) {
  code {
    font-size: 1.125rem;
    margin-left: unset;
  }
}
